<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="logo"></div>
            <nav class="header_nav">
                <ul>
                    <li>수집관리</li>
                    <li>사이트관리</li>
                    <li>데이터관리</li>
                    <li>통계</li>
                    <li>시스템관리</li>
                </ul>
            </nav>
            <div class="login_box"></div>
        </div>
    </header>
    <main>
        <aside class="sidebar">
            <div>
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>    
        </aside>
        <div>
            <table></table>
        </div>
    </main>
    
</body>
</html>